{% extends "root.html" %}
{% block title %}Not Found{% endblock %}

{% block content %}
<div class="container w-100 h-100">
    <div class="row w-100 h-100 justify-content-center">
        <div class="col my-auto">
            <h1 class="display-1">This page does not exist</h1>
        </div>
    </div>
</div>
{% endblock %}