{% extends "root.html" %}
{% block title %}Bit-Flipped Photo{% endblock %}

{% block content %}
    <div class="container w-100 h-100">
        <div class="row w-100 h-100">
            <div class="col my-auto">
                <a href="https://www.youtube.com/watch?v=Q21-efJs7yE&t=828s">
                    <img class="img-fluid rounded mx-auto" style="max-height: 100%!important;" src="hemp_clothes.jpg">
                </a>
            </div>
            <div class="col my-auto">
                <a href="https://newsnowfinland.fi/finland-international/investigation-neste-biofuel-link-to-orangutan-habitat-destruction">
                    <img class="img-fluid rounded mx-auto" style="max-height: 100%!important;" src="biofuel.jpg">
                </a>
            </div>
        </div>
    </div>
{% endblock %}