<div class="badge badge-secondary text-wrap">
    <a href="/photo" class="text-reset text-decoration-none text-muted">
        <h2><u>> photo</u></h2>
    </a>
</div>

<p>The photograph was taken by the author at 19th of June, 2019. The subject is a red fox (<em>Vulpes vulpes</em>) who lives at Lomamäen Lemmikkipuisto. The photograph contains 2 304 536 bits.</p>

<p>Each JPEG file contains important bits in the beginning and at the end of the file. Once these important bits are flipped, the browser is unable to show the file to the user. This piece demonstrates a self-corrupting photograph. Each page load will permanently corrupt a photograph, eventually corrupting it to a stage that the browser will be unable to show it. The corruption can be reversed by re-corrupting the important bits of a photograph.</p>

<p>The slow and permanent corruption of this work resembles the impact each and everyone of us have on the earth. The idea of consumerism is placed on the pedestal, as every view is a miniscule chance of permanently ruining the photograph for future generations: The visitor is <strong>literally</strong> consuming a piece of art. The work also creates a juxtapose on the saying "everything placed on the internet is permanent", since every visitor will permanently remove the last version of the photograph.</p>

<p>Are you curious enough to see the photograph? Do you want to be the one who ruins it? Once it is ruined, are you going to spend extra time trying to fix the photograph for future visitors?</p>

<footer class="blockquote-footer text-light">C.Vulpes</footer>