{% extends "root.html" %}
{% block title %}Welcome{% endblock %}

{% block content %}
    <div class="container w-100 h-100">
        <div class="row w-100 h-10 justify-content-center">
            <h1>corrupted.website</h1>
            <p>This page is a triptych of three works commenting on the slow and eventual corruption of earth by humankind -- <em>Anthropocene</em></p>
        </div>
        <div class="row w-100 h-90 text-small" style="font-size: 75%;">
            <div class="col">
                {% include "index_left.html" %}
            </div>
            <div class="col">
                {% include "index_center.html" %}
            </div>
            <div class="col">
                {% include "index_right.html" %}
            </div>
        </div>
    </div>
{% endblock %}