<div class="badge badge-secondary text-wrap">
    <a href="/advertisement" class="text-reset text-decoration-none text-muted">
        <h2><u>> advertisement</u></h2>
    </a>
</div>

<p>Every website has ads. So the idea was to make fake ads for products that you could see advertised on the internet, but also at the same time criticise the phenomena associated with the ads. Therefore the ads link to an article or a video that offers an alternate perspective on these issues. The contents of the ads revolve around climate change and resources: how the alternatives to fossil fuels and clothing industry might not be the best options out there, and how we need be careful when we try to find solutions to the climate crisis.</p>

<p>The first ad is for clothing made out of hemp or another alternative fibers that are used to make clothing more sustainable. The clothing industry is one of the most polluting ones and produces a lot of waste. Therefore more environmentally friendly options are needed. The main problem here are the prices, that are too high for lower-class people. The ad links to a YouTube video from Tiffany Ferguson titled “Sustainability Issues We Don't Talk About Enough”, where she discusses the various accessibility problems associated with the environmentalist movement.</p>
    
<p>The second ad deals with biofuels and is a lot more direct criticism than the first one. Biofuels are usually advertised as made out of waste materials reducing the use of fossil fuels, especially oil. Hence they are usually held up as solutions to climate change and people love to defend them. The problem arises when the “waste” material used is linked to deforestation. The link in here redirects to an article on News Now Finland by Elias Huuhtanen titled “Investigation: Neste biofuel link to orangutan habitat destruction”, which details how in Indonesia large amounts of trees were cleared because of palm oil production, which by-products the oil company Neste uses to produce its biofuel, and in the process orangutan habitats had been destroyed.</p>

<footer class="blockquote-footer text-light">MirjamiW</footer>