<div class="badge badge-secondary text-wrap">
    <a href="/labyrinth" class="text-reset text-decoration-none text-muted">
        <h2><u>> labyrinth</u></h2>
    </a>
</div>

<p>Anthropocene is characterized by the fact that the human imprint on the global environment has now become so large and active that it rivals some of the great forces of Nature in its impact on the functioning of the Earth system. So is our labyrinth.</p>

<p>In the labyrinth, we are the superman. Every step, we not only change our position but also change the whole labyrinth. Moving into a normal pile will make a small modification of the labyrinth, while moving into a danger pile will change more. To reach the destination, sometimes we even have to explode the wall (by pressing SPACE), which will cause much more trouble in the long run. In the labyrinth, except for reaching the target, we also need to collect as many coins as possible. BUT! Don't be greedy, otherwise, you may never have the chance to get back.</p>

<p>The labyrinth is a metaphor for our planet, and we, as a superman in the labyrinth, means an era of Anthropocene. Like a superman, we can make decisions and the decisions can change the world dramatically. But at the same time, everything should follow the physical law, and we do not know what are the consequences. To simulate the processing of development, we need to collect coins in the labyrinth so that the labyrinth changes more and more. It may end up that our future (like the destination in the game) is blocked and even our technology (like exploding the wall) cannot help us out.</p>

<footer class="blockquote-footer text-light">Minotaur</footer>