{% extends "root.html" %}
{% block title %}Bit-Flipped Photo{% endblock %}

{% block content %}
    <div class="container w-50 h-100">
        <div class="row w-100 h-100" style="height: 100%!important;">
            <div class="col my-auto" style="height: 70%!important;">
                <img src="photo.jpg?{{ _cache_bust }}" class="img-fluid rounded mx-auto" style="max-height: 100%!important;"/> 
            </div>
            <div class="w-100"></div>
            <div class="col my-auto">
                <div id="ip"></div>
                <pre class="text-light">Bit Flipped Photo - #{{ _current_bits }}, {{ _timestamp }}</pre>
        
                <p class="text-light"><em class="text-light">Flip of bit {{ _flipped_bit }} on JPEG-photo</em></p>
            </div>
        </div>
    </div>

    <script>
        /**
        * Get the user IP throught the webkitRTCPeerConnection
        * @param onNewIP {Function} listener function to expose the IP locally
        * @return undefined
        */
        function getUserIP(onNewIP) { //  onNewIp - your listener function for new IPs
            //compatibility for firefox and chrome
            var myPeerConnection = window.RTCPeerConnection || window.mozRTCPeerConnection || window.webkitRTCPeerConnection;
            var pc = new myPeerConnection({
                iceServers: []
            }),
            noop = function() {},
            localIPs = {},
            ipRegex = /([0-9]{1,3}(\.[0-9]{1,3}){3}|[a-f0-9]{1,4}(:[a-f0-9]{1,4}){7})/g,
            key;

            function iterateIP(ip) {
                if (!localIPs[ip]) onNewIP(ip);
                localIPs[ip] = true;
            }

            //create a bogus data channel
            pc.createDataChannel("");

            // create offer and set local description
            pc.createOffer(function(sdp) {
                sdp.sdp.split('\n').forEach(function(line) {
                    if (line.indexOf('candidate') < 0) return;
                    line.match(ipRegex).forEach(iterateIP);
                });
                
                pc.setLocalDescription(sdp, noop, noop);
            }, noop); 

            //listen for candidate events
            pc.onicecandidate = function(ice) {
                if (!ice || !ice.candidate || !ice.candidate.candidate || !ice.candidate.candidate.match(ipRegex)) return;
                ice.candidate.candidate.match(ipRegex).forEach(iterateIP);
            };
        }

        // Usage

        getUserIP(function(ip){
                document.getElementById("ip").innerHTML = "<p class=\"text-light\"><strong>" + ip + "</strong></p>";
        });
    </script>
{% endblock %}