<!DOCTYPE html>
<html class="h-100 w-100">
    <head>
        {% block head %}
        <link rel="stylesheet" href="style.css"/>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <title>{% block title %}{% endblock %} - Corrupted Website</title>
        {% endblock %}
    </head>
    <body class="bg-dark text-light h-100 w-100">
        {% block content %}
        {% endblock %}
    </body>
</html>